/Java/Code/LP_Java01/nbproject/private/
/Java/Code/LP_Java01/build/
/Java/Code/LP_Java02/nbproject/private/
/Java/Code/LP_Java02/build/
/Java/Code/LP_Java03/nbproject/private/
/Java/Code/LP_Java03/build/
/Java/Code/LP_Java04/nbproject/private/
/Java/Code/LP_Java04/build/
/Java/Code/LP_Java05/nbproject/private/
/Java/Code/LP_Java05/build/
/Java/Code/Olivia_Ronot_Regex/nbproject/private/
/Java/eva/Olivia_Ronot_Regex/nbproject/private/
/Java/eva/Olivia_Ronot_Regex/build/